{
  "env": {
    "browser": true
  },

  "extends": [
    "airbnb-typescript",
    "prettier"
  ],

  "parser": "@typescript-eslint/parser",

  "parserOptions": {
    "ecmaVersion": 2020,
    "project": "./tsconfig.json"
  },

  "plugins": [
    "@typescript-eslint/eslint-plugin",
    "import",
    "jsx-a11y",
    "prettier",
    "react-hooks",
    "react",
    "sort-imports-es6-autofix"
  ],

  "rules": {
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/lines-between-class-members": "off",
    "func-names": ["error", "as-needed"],
    "import/first": "error",
    "import/order": "off",
    "import/prefer-default-export": "off",
    "max-len": ["warn", 100],
    "no-plusplus": "off",
    "no-void": "off",
    "object-curly-newline": ["error", { "consistent": true }],
    "prettier/prettier": "error",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-props-no-spreading": "off",
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off",
    "react-hooks/exhaustive-deps": "warn",
    "react-hooks/rules-of-hooks": "error",

    "sort-imports-es6-autofix/sort-imports-es6": ["error", {
      "ignoreCase": true,
      "ignoreMemberSort": false,
      "memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
    }]
  }
}
