{
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"printWidth": 120,
	"singleQuote": true,
	"useTabs": true
}
