{
	"plugins": ["prettier-plugin-css-order", "prettier-plugin-svelte", "prettier-plugin-tailwindcss"],

	"cssDeclarationSorterOrder": "alphabetical",
	"printWidth": 120,
	"singleQuote": true,
	"useTabs": true,

	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		},
		{
			"files": ["*.yaml", "*.yml"],
			"options": {
				"singleQuote": false
			}
		}
	]
}
