@import 'tailwindcss/base';
@import 'tailwindcss/utilities';

:root {
	--neutral-100: #fafafa;
	--neutral-300: #2e2e32;
	--neutral-500: #3e3e42;
	--neutral-800: #1e1e1e;

	--primary-100: #007acc;

	--easing-1: linear(
		0,
		0.005,
		0.02 2.1%,
		0.081 4.7%,
		0.467 15.7%,
		0.563,
		0.645,
		0.717,
		0.778 28.5%,
		0.829 32%,
		0.872 35.8%,
		0.909 40.1%,
		0.938 44.9%,
		0.961 50.3%,
		0.977 56.5%,
		0.987 63.6%,
		0.994 72.3%,
		1
	);
}

body,
html {
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	background-color: var(--neutral-800);
	color: var(--neutral-100);
	font-family: 'Quattrocento Sans', sans-serif;
	line-height: 1.5;
}
