:root {
  --bg-color: #263238;
  --font-color: #fafafa;

  --header-bg-color: #455a64;

  --footer-bg-color: #37474f;

  --selector-border-color: #455a64;

  --selector-input-border-color: #455a64;
  --selector-input-border-color--focus: #78909c;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: 'Quattrocento Sans', sans-serif;
  line-height: 1.5;
  margin: 0;
}
